@model DashboardViewModel


    <div class="text-center">
        <h1 class="display-4">@Model.Message</h1>
    </div>


<p>@Model.genderDetailViewModel.ApplicationID</p>


@{ foreach (var item in Model.snpCommunityDetailGetViewModel)
    {

        <p>@item.Address1</p>



    }}
